@import "normalize.styl"

azul = #0c6d96
azulClaro = #c4d4df
gris = #999
grisClaro = #e6e6e6

.login
	margin 0 auto
	max-width 400px
	.loginBox
		.loginBoxBody
			background azul
			border-bottom-right-radius: 3em;
			color grisClaro
			font-size 1.2em
			padding 1em 0.5em
			.loginUsuario
				margin-bottom .5em
			.loginPassword
				margin-bottom 1em
			a
				color grisClaro
				margin-right 1em 
				padding-left 1.2em
				text-decoration none
				&:before
					background grisClaro
					border-radius 50%
					content ""
					height 1em
					margin-left -1.2em
					position absolute
					width 1em
			input
				color gris
				width 230px
			span
				display inline-block
				width 130px
		.loginBoxHeader
			background azul
			border-top-left-radius: 4em;
			height 4em
			margin-bottom .5em
	.loginLogo
		overflow hidden
		figure
			float right
			max-width 100px
			img
				height 100%
				width 100%
.agendaView
	h2
		color azul
	.agenda
		
		.cabeza
			background azul
			color white
			width 100%
			span
				display inline-block
			.dia
				width 79%
			.hora
				width 19%
				font-align right
		.cuerpo
			.renglon
				background grisClaro
				border-bottom 1px solid azul
				padding-left 1em
				height 3em
				.descripcion
				.horaRenglon
					display inline-block
					height 3em
					vertical-align middle
				.descripcion
					color black
					border-right 1px solid azul
					width 79%
				.horaRenglon
					color azul
					text-align center
					width 18%
		.dias
			overflow hidden
			a
				text-decoration none
				color azul
				font-weight bold
				background grisClaro	
				float right